.loginScreen {
    position : relative;
    height : 100%;
    background : url("https://mebincdn.themebin.com/1664271579476.jpg") center no-repeat;
    background-size: cover;
}   



.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height : 100vh;
    background: rgba (0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.loginScreen__body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3 {
    font-size : 1.3rem;
    font-weight: 400;
}

.loginScreen__body {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index : 1;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    font-weight: 700;
}
.loginScreen__button {
    position: fixed;
    right : 30px;
    top: 30px;
    text-align: center;
    width: auto;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    border: none;
    cursor: pointer;
}

.loginScreen__button:hover {
    color : rgb(255,255,255);
    background-color : darkred;
    transition: all 0.2s;
}

.loginScreen__logo {
    position : fixed;
    left: 0;
    width : 150px;
    object-fit: contain;
    padding-left: 20px;

}

.loginScreen__input > form > input {
    padding: 10px;
    border-radius: 0.25rem;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: auto;

}


.loginScreen__input {
    margin: 20px;
}

.loginScreen_getStarted {
    padding: 16px 20px;
    right : 30px;
    top: 30px;
    text-align: center;
    width: auto;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    border: none;
    cursor: pointer;
}
