.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px; 
    z-index: 100;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 50px;
    top: 30px;
    width: 30px;
    object-fit: contain;
}

.nav-item a:link{
    text-decoration: none;
    
    
}
.nav-item-home {
    position: fixed;
    top: 30px;
    left: 130px;
    color: #fff;

}

.nav-item-tvshows {
    position: fixed;
    top: 30px;
    left: 190px;
    color: #fff;
    
}

.nav-item-movies {
    position: fixed;
    top: 30px;
    left: 280px;
    color: #fff;
}

.nav-item-new {
    position: fixed;
    top: 30px;
    left: 350px;
    color: #fff;
}

.nav-item-mylist {
    position: fixed;
    top: 30px;
    left: 470px;
    color: #fff;
}

.nav-item-browse {
    position: fixed;
    top: 30px;
    left: 540px;
    color: #fff;
}